In [1]:
import pandas as pd
import os

In [27]:
def load_google_map_dfs():
    column_names = ['latitude', 'longitude']
    file_names = ['BottomRoute.csv', 'MiddleRoute.csv', 'TopRoute.csv', 'TrainToAirMiddle.csv']
    base_path = os.getcwd()

    bottom_df = pd.read_csv(base_path + '/' + file_names[0])
    bottom_df.columns = column_names

    middle_df = pd.read_csv(base_path + '/' + file_names[1])
    middle_df.columns = column_names
    
    middle_df2 = pd.read_csv(base_path + '/' + file_names[3])
    middle_df2.columns = column_names

    top_df = pd.read_csv(base_path + '/' + file_names[2])
    top_df.columns = column_names
    
    return bottom_df, middle_df, middle_df2, top_df

In [28]:
bottom_df, middle_df, middle_df2, top_df = load_google_map_dfs()

In [8]:
bottom_df.head()

    latitude   longitude
0  22.592250  114.028469
1  22.587607  114.017786
2  22.578825  114.014961
3  22.566919  114.016857
4  22.555838  114.015682

In [29]:
max_lat = 23.0
min_lat = 22.0

min_long = 113
max_long = 115

diff_in_latitude = max_lat - min_lat
diff_in_longitude = max_long - min_long

# 20 rows so
cell_size = diff_in_latitude / 20.0

In [30]:
def concat(row, col):
    return str(row) + '-' + str(col)


def map_gps_to_box(latitude, longitude):
    row_number = int((latitude - min_lat) // cell_size)
    col_number = int((longitude - min_long) // cell_size)

    if col_number < 0 or row_number < 0:
        return -1, -1, -1

    cell_number_str = str(row_number) + str(col_number)

    return concat(row_number, col_number), row_number, col_number

In [14]:
def map_gps_to_cell(df):
    cells = []
    rows = []
    cols = []

    for index, row in df.iterrows():
        lat = row['latitude']
        long = row['longitude']

        cell_number, cell_row, cell_col = map_gps_to_box(lat, long)

        cells.append(cell_number)
        cols.append(cell_col)
        rows.append(cell_row)

    df['cell'] = cells
    df['row'] = rows
    df['column'] = cols

    return df

In [15]:
bottom_df = map_gps_to_cell(bottom_df)
bottom_df.head()

    latitude   longitude   cell  row  column
0  22.592250  114.028469  11-20   11      20
1  22.587607  114.017786  11-20   11      20
2  22.578825  114.014961  11-20   11      20
3  22.566919  114.016857  11-20   11      20
4  22.555838  114.015682  11-20   11      20

In [20]:
bottom_route = bottom_df['cell'].unique()
print(bottom_route)

['11-20' '11-19' '11-18' '10-18' '11-17' '12-17' '12-16']

In [17]:
middle_df = map_gps_to_cell(middle_df)
middle_df.head()

    latitude   longitude   cell  row  column
0  22.589633  114.028388  11-20   11      20
1  22.590421  114.027369  11-20   11      20
2  22.587888  114.011918  11-20   11      20
3  22.586818  114.001772  11-20   11      20
4  22.582684  113.987648  11-19   11      19

In [18]:
middle_route = middle_df['cell'].unique()
print(middle_route)

['11-20' '11-19' '11-18' '12-17' '12-16']

In [21]:
top_df = map_gps_to_cell(top_df)
top_df.head()

    latitude   longitude   cell  row  column
0  22.608881  114.024576  12-20   12      20
1  22.609737  114.023058  12-20   12      20
2  22.606507  114.019390  12-20   12      20
3  22.603939  114.016523  12-20   12      20
4  22.601059  114.013951  12-20   12      20

In [25]:
top_route = top_df['cell'].unique()
print(top_route)

['12-20' '11-20' '13-19' '13-18' '13-17' '12-17' '12-16']

In [26]:
bottom_df.to_csv('bottomGoogleMapRoute.csv', encoding='utf-8', index=False)
middle_df.to_csv('middleGoogleMapRoute.csv', encoding='utf-8', index=False)
top_df.to_csv('topGoogleMapRoute.csv', encoding='utf-8', index=False)

In [31]:
middle_df2 = map_gps_to_cell(middle_df2)
middle_df2.head()

    latitude   longitude   cell  row  column
0  22.614515  113.834647  12-16   12      16
1  22.625607  113.855589  12-17   12      17
2  22.637016  113.866234  12-17   12      17
3  22.651593  113.876194  13-17   13      17
4  22.656343  113.894053  13-17   13      17

In [32]:
middle_df2.to_csv('middleGoogleMapRoute2.csv', encoding='utf-8', index=False)